
.users{
    width: 400px;
    background-color: rgba(20, 20, 10,0.2);
    border-radius: 20px;
}

.users .avatars{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(100px,1fr));

}
.users img{
    width: 100%;
}
