
.container{
    width: 400px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 100px;
}

.container h3{
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 15px;
}
.container form{
    width: 400px;
    border-radius: 20px;
}

.container .input{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container .input label{
    margin-bottom: 10px;
}
.container input[type=text]{
    height: 48px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
}

.container .buttons{
    text-align: center;
}

.container .buttons button{
    width: 80%;
    padding: 15px 10px;
    background-color: rgb(79, 160, 59);
    border: 1px solid rgb(31, 71, 34);
    margin:20px 0;
    color: rgb(245, 255, 244);
    font-size: 1rem;
}

.container .buttons button:hover{
    background-color: rgb(54, 153, 30);
}