body{
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  background-image: linear-gradient(to top, #423842 0%, #441942 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
}

.app h3{
  text-shadow: 1px 1px 4px black;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.app h3 b{
  color: rgb(252, 212, 33);

}
