body{
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;

  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #43cea2, #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  padding-top: 300px;
}

.app h3{
  text-shadow: 1px 1px 4px black;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.app h3 b{
  color: rgb(252, 212, 33);

}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(151, 15, 110);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid rgb(151, 15, 110);
}

.area{
  display: flex;
}
.button{
  width: 200px;
  height:45px;
  background-color: indianred;
  margin: 20px;
  border:1px solid #185a9d;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
}

.green{
  
  background-color: #43cea2;
  
}

.likes{
  font-size: 20px;
}